body{margin: 0 auto;}

img{width:100%;}

a:nth-child(even), a:hover{color:green;}

h1{
	//font-family: "Work Sans", "Arial", sans-serif;
	font-family: "Arial", sans-serif;
	//color: black;
	font-size: 16pt;
	font-style: normal;
	//line-height:18pt;
	letter-spacing: 2pt;
	font-weight: 900;
	text-transform: uppercase;
	//text-align:center;
	transform: scale(1, .8);
 	-webkit-transform: scale(1, .8); /* Safari and Chrome */
 	-moz-transform: scale(1, .8); /* Firefox */
	-ms-transform: scale(1, .8); /* IE 9+ */
	-o-transform: scale(1, .8); /* Opera */
	//margin-block-start: 25px;
	//margin-block-end: 25px;
		margin-block-start: 0px;
margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p, li{font-family: "Work Sans", "Arial", sans-serif;
	//color: black;
	font-style: normal;
	font-size: 10pt;
	line-height: 15pt;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	vertical-align:middle;
	font-weight:300;}

a{text-decoration:none;
font-weight:400;}

a:hover{font-weight:500;}

a:active, a:target, li:active, li:target{font-weight:600;}

p{font-weight: 300;}

strong{font-weight: 500;}

.container{
	//max-width:640px;
	margin-left:12vw;
margin-right:12vw;
margin-top:100px;
	max-width:76vw;;
	width:100%;
}

.content{margin-left:24vw;}

.segment{
	min-height: calc(100vh - 100px);
	vertical-align:middle;
padding-top:50px;
	padding-bottom:50px;
}

.segment:first-child{padding-top:0px;
	vertical-align:bottom;
	padding-bottom:0;
	bottom:50px;
}

li{list-style-type: none;
display: block;
	height:auto;
}

ul{
display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
padding-inline-start: 0px;}


.navigation{
float:left;
max-width:24vw;
	position:fixed;
}

.pdp-video {
	position: fixed;
	//position:absolute;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	max-width: 100%; 
	max-height: 100%;
		max-height: 100vh;
z-index:-1;
	pointer-events: auto!important;
	overflow:hidden;
	object-fit:cover;
}
  
  .footer{
	font-family: inherit;
	font-style: normal;
	text-align: center;
	font-size: inherit;
	font-weight: inherit;
	margin-bottom:25px;
	  margin-top:25px;
	 // vertical-align: bottom;
}

#hero-segment, #herosegment2{
	width:100vw;
	margin-left: -36vw;
}

#hero-segment:last-child{background-color:white;}


#hero-segment-image{
	background-image:url("https://upload.wikimedia.org/wikipedia/en/2/27/Bliss_%28Windows_XP%29.png");
    background-size: cover;
	width:100vw;
	margin-left: -36vw;
}

.segment-inner{padding-left:36vw; padding-right:12vw;}


@media only screen and (max-width: 480px) {
	.container{margin-top:25px;}
	.content{margin-left:0px;}
	.navigation{max-width:100%;margin:0 auto;padding-right:6vw;}
	container{margin-left:6vw;
	margin-right:6vw;}
	ul, li{display:inline;}
	#hero-segment-image, #hero-segment{margin-left: -12vw;}
	.segment-inner{padding-left:12vw;}
	//.segment:first-child{padding-bottom:50px;}
	.segment:first-child{padding-bottom:75px;}
}


